.homepage-background_spline {
  position: fixed;
  width: 100vw;
  max-height: 100vh;
}

.homepage-textblock {
  cursor: default;
  position: fixed;
  z-index: 1;
  height: min-content;
  bottom: 20%;

  display: flex;
  flex-direction: column;

  translate: -5px;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none;

  .homepage-textblock_title {
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: -6px;
  }

  .homepage-textblock_subtitle {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 14.5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 5px;
  }
}

.homepage-scrollcall-text {
  z-index: 1;
  text-align: center;
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  animation: opacity_loop 2s ease-in-out infinite;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
}
